datasets==4.6.1
anyio==4.12.1
propcache==0.3.2
soupsieve==2.7
shellingham==1.5.4
pkce==1.0.3
w3lib==2.1.2
conda-token==0.6.0
pyasn1==0.4.8
arrow==1.3.0
bokeh==3.6.2
ml_dtypes==0.5.4
audioread==3.1.0
async-lru==2.0.4
python-slugify==5.0.2
langfuse==3.14.1
ply==3.11
lightgbm==4.6.0
whisper_normalizer==0.1.12
uri-template==1.3.0
aext-toolbox==4.20.0
ConfigArgParse==1.7.1
rfc3339-validator==0.1.4
appnope==0.1.3
psycopg-pool==3.3.0
pymongo==4.12.1
aext-share-notebook==4.20.0
executing==0.8.3
tables==3.10.2
pyOpenSSL==25.1.0
docstring-to-markdown==0.11
oauthlib==3.3.1
python-multipart==0.0.29
pycodestyle==2.12.1
jiwer==3.1.0
text-unidecode==1.3
lazy_loader==0.4
ruff==0.15.1
logistro==2.0.1
qtconsole==5.6.1
pyannote-core==6.0.1
tldextract==5.1.2
fqdn==1.5.1
decorator==5.1.1
async-timeout==5.0.1
requests==2.32.5
snowflake-cli-labs==3.10.0
supafunc==0.10.1
traitlets==5.14.3
Crawl4AI==0.6.3
datashader==0.18.0
urllib3==2.5.0
zstandard==0.23.0
torchcodec==0.10.0
langchain-core==1.2.13
pydub==0.25.1
mdit-py-plugins==0.3.0
nest-asyncio==1.6.0
pydantic_core==2.46.4
==
lameenc==1.8.1
lightning-utilities==0.15.3
aext-core-server==4.20.0
SQLAlchemy==2.0.39
ujson==5.10.0
jaraco.classes==3.2.1
kiwisolver==1.4.8
rank-bm25==0.2.2
multipledispatch==0.6.0
pandocfilters==1.5.0
diskcache==5.6.3
ptyprocess==0.7.0
einops==0.8.2
mcp==1.9.4
service-identity==18.1.0
prometheus_client==0.21.1
pyobjc-core==10.1
isoduration==20.11.0
yt-dlp==2026.3.17
nltk==3.9.1
certifi==2026.2.25
==
nv-one-logger-pytorch-lightning-integration==2.3.1
queuelib==1.6.2
unicodedata2==15.1.0
pytz==2025.2
gensim==4.3.3
simple-websocket==1.1.0
marshmallow==3.26.2
toml==0.10.2
sphinxcontrib-htmlhelp==2.1.0
fonttools==4.55.3
opentelemetry-sdk==1.39.1
anaconda-client==1.13.0
torchmetrics==1.8.2
cssselect==1.3.0
torchaudio==2.11.0
retrying==1.4.2
opensearch-protobufs==0.19.0
onvif_zeep==0.2.12
plotly==6.0.1
spyder-kernels==3.0.3
overrides==7.7.0
cookiecutter==2.6.0
psycopg2-binary==2.9.10
parso==0.8.4
webencodings==0.5.1
colorama==0.4.6
anaconda-navigator==2.6.5
setuptools==80.8.0
PyDispatcher==2.0.5
json5==0.9.25
pylint==3.3.5
python-lsp-jsonrpc==1.1.2
tinycss2==1.4.0
smart-open==5.2.1
numpydoc==1.7.0
intervaltree==3.1.0
julius==0.2.7
uroman==1.3.1.1
pycaret==3.3.2
pydeck==0.9.1
storage3==0.12.1
xarray==2024.11.0
assemblyai==0.40.2
posthog==7.8.6
greenlet==3.3.1
pathspec==0.10.3
beautifulsoup4==4.13.4
itemadapter==0.3.0
jsonpickle==4.0.5
opensearch-py==3.1.0
PyNaCl==1.5.0
panel==1.6.3
platformdirs==4.3.8
superqt==0.7.3
ftfy==6.3.1
flake8==7.1.1
autopep8==2.0.4
rope==1.13.0
ctranslate2==4.7.1
python-json-logger==3.2.1
defusedxml==0.7.1
langgraph==1.0.8
slicer==0.0.8
PyGithub==2.4.0
grpcio==1.78.0
stack-data==0.2.0
ipywidgets==7.8.5
streamlit==1.45.0
aiohttp==3.13.5
scikit-base==0.7.8
WSDiscovery==2.1.2
xlwings==0.32.1
semver==3.0.2
idna==3.16
pyuca==1.2
openpyxl==3.1.5
pickleshare==0.7.5
absl-py==2.4.0
attrs==25.3.0
cloudpickle==3.0.0
h5py==3.12.1
dnspython==2.7.0
Rtree==1.0.1
cachetools==5.5.1
asn1crypto==1.5.1
pytoolconfig==1.2.6
inflection==0.5.1
locket==1.0.0
boto3==1.39.2
jellyfish==1.1.3
tsdownsample==0.1.4.1
virtualenv==20.31.2
blinker==1.9.0
sacremoses==0.1.1
yellowbrick==1.5
truststore==0.10.0
xgboost==3.1.3
aext-assistant-server==4.20.0
conda-pack==0.7.1
ruamel.yaml.clib==0.2.12
wrapt==1.17.0
kaldialign==0.9.1
spyder==6.0.5
markdown-it-py==3.0.0
aext-assistant==4.20.0
sympy==1.13.3
seaborn==0.13.2
torchvision==0.26.0
frozendict==2.4.2
mypy-extensions==1.0.0
wordfreq==3.1.1
GitPython==3.1.44
networkx==3.4.2
zope.interface==7.1.1
pyannote-database==6.1.1
asyncpg==0.31.0
nv-one-logger-training-telemetry==2.3.1
fastmcp==2.9.2
pyasn1-modules==0.2.8
plotly-resampler==0.11.0
botocore==1.39.2
zeep==4.3.2
aext-core==4.20.0
python-socketio==5.16.2
sox==1.5.0
jupyter-console==6.6.3
jedi==0.19.2
QtPy==2.4.1
exceptiongroup==1.3.0
hyperlink==21.0.0
charset-normalizer==3.4.2
typing-inspect==0.9.0
zict==3.0.0
ormsgpack==1.12.2
tinytuya==1.17.6
param==2.2.0
Faker==37.4.0
sphinxcontrib-qthelp==2.0.0
supabase==2.18.0
category_encoders==2.7.0
primePy==1.3
Unidecode==1.3.8
keyring==25.6.0
pytest-xdist==3.8.0
menuinst==2.2.0
uuid_utils==0.14.0
inflect==7.5.0
googleapis-common-protos==1.70.0
firebase-messaging==0.4.5
itsdangerous==2.2.0
ruamel-yaml-conda==0.17.21
lightning==2.4.0
aext_environments_server==4.20.0
sse-starlette==2.3.6
libmambapy==2.0.5
pdfminer.six==20260107
jupyter==1.1.1
PySocks==1.7.1
dask==2025.2.0
patsy==1.0.1
tiktoken==0.9.0
treetable==0.2.6
timm==1.0.26
jupyter_client==8.6.3
distlib==0.4.0
opentelemetry-exporter-otlp-proto-grpc==1.39.1
pyannote-metrics==4.0.0
youtube-transcript-api==1.2.2
asttokens==3.0.0
simplejson==3.20.2
tqdm==4.67.1
dmglib==0.9.5
google-auth-httplib2==0.2.0
RapidFuzz==3.14.3
libcst==1.8.6
execnet==2.1.1
pytest-timeout==2.4.0
readchar==4.0.5
pycurl==7.45.6
opentelemetry-proto==1.39.1
ctc-forced-aligner==0.3.0
portalocker==3.2.0
mediapy==1.1.6
starlette==0.52.1
Authlib==1.6.0
langgraph-checkpoint==4.0.0
pyct==0.5.0
feedparser==6.0.12
jsonpatch==1.33
click==8.1.8
argon2-cffi==21.3.0
tzdata==2025.2
pyzmq==26.2.0
Twisted==24.11.0
matplotlib==3.10.8
anaconda-project==0.11.1
neo4j==6.1.0
pyobjc-framework-FSEvents==10.1
av==16.1.0
mutagen==1.47.0
snowflake.core==1.5.1
uritemplate==4.2.0
pyodbc==5.2.0
ring-doorbell==0.9.14
jupyter_server==2.15.0
widgetsnbextension==3.6.10
torch==2.11.0
anaconda-cli-base==0.5.2
opentelemetry-api==1.39.1
applaunchservices==0.3.0
asyncssh==2.17.0
pytorch-lightning==2.6.1
PyQt5==5.15.10
narwhals==1.31.0
openai==2.21.0
QtAwesome==1.4.0
sip==6.7.12
dash==4.0.0
httpcore==1.0.9
langchain-classic==1.0.1
playwright==1.58.0
sphinxcontrib-serializinghtml==2.0.0
PyWavelets==1.8.0
wurlitzer==3.0.2
webdataset==1.0.2
pyls-spyder==0.4.0
lazy-object-proxy==1.10.0
pyviz_comms==3.0.2
editdistance==0.8.1
h2==4.2.0
jupyterlab-widgets==1.0.0
pycryptodomex==3.22.0
ifaddr==0.2.0
tenacity==9.0.0
cffi==1.17.1
pytest-cov==4.1.0
nemo-toolkit==2.7.0
intake==2.0.7
conda-build==25.4.2
linkify-it-py==2.0.0
aiosqlite==0.21.0
webcolors==25.10.0
nbformat==5.10.4
python-lsp-black==2.0.0
aioitertools==0.7.1
pyperclip==1.9.0
conda_package_streaming==0.11.0
librosa==0.11.0
pylint-venv==3.0.3
yarl==1.20.1
boltons==24.1.0
gotrue==2.12.3
comm==0.2.1
http_ece==1.1.0
pmdarima==2.0.4
appdirs==1.4.4
alabaster==0.7.16
imagecodecs==2024.9.22
httpx-sse==0.4.1
tomlkit==0.13.3
scikit-image==0.25.0
Levenshtein==0.27.3
PyJWT==2.10.1
threadpoolctl==3.5.0
StrEnum==0.4.15
huggingface_hub==0.36.2
Events==0.5
dataclasses-json==0.6.7
atomicwrites==1.4.0
tf-playwright-stealth==1.2.0
multiprocess==0.70.16
sphinxcontrib-jsmath==1.0.1
Automat==24.8.1
constantly==23.10.4
Werkzeug==3.1.3
Markdown==3.8
diff-match-patch==20200713
evalidate==2.0.3
pyerfa==2.0.1.5
jsonschema==4.24.0
PyQtWebEngine==5.15.6
aiofiles==24.1.0
jupyter_core==5.7.2
pure-eval==0.2.2
xxhash==3.5.0
markdown2==2.5.5
isodate==0.7.2
nbconvert==7.16.6
pyparsing==3.2.0
referencing==0.36.2
conda-content-trust==0.2.0
jmespath==1.0.1
onnxruntime==1.24.2
nb_conda_kernels==2.5.2
pyannoteai-sdk==0.4.0
parsel==1.8.1
black==24.10.0
regex==2024.11.6
watchfiles==1.1.1
lz4==4.3.2
bidict==0.23.1
cycler==0.11.0
pyobjc-framework-CoreServices==10.1
pooch==1.9.0
fsspec==2024.12.0
jupyter-lsp==2.2.5
langchain-text-splitters==1.1.0
sktime==0.26.0
python-dotenv==1.2.2
pyarrow==23.0.1
nbclient==0.10.2
h11==0.16.0
protobuf==6.33.6
gitdb==4.0.12
colorcet==3.1.0
sniffio==1.3.1
roman-numerals-py==3.1.0
aiobotocore==2.19.0
nodeenv==1.9.1
tblib==1.7.0
asyncclick==8.3.0.7
lxml==6.1.1
pkginfo==1.12.0
matplotlib-inline==0.1.6
psutil==7.0.0
Pygments==2.20.0
graphiti-core==0.27.1
rsa==4.9.1
s3fs==2024.12.0
httptools==0.7.1
sentencepiece==0.2.1
fake-http-header==0.3.5
requests-file==1.5.1
Protego==0.4.0
typeguard==4.5.1
terminado==0.17.1
dora_search==0.1.12
mdurl==0.1.2
cfgv==3.4.0
python-dateutil==2.9.0.post0
colorlog==6.10.1
mpmath==1.3.0
ipython-genutils==0.2.0
ipython==8.30.0
Sphinx==8.2.3
multidict==6.5.0
jupyterlab_pygments==0.3.0
pytest-asyncio==1.3.0
xyzservices==2022.9.0
opentelemetry-exporter-otlp-proto-http==1.39.1
sacrebleu==2.6.0
mccabe==0.7.0
psycopg-binary==3.3.2
indic_numtowords==1.1.0
sortedcontainers==2.4.0
holoviews==1.20.2
langsmith==0.7.3
fastjsonschema==2.20.0
wcwidth==0.2.13
anaconda-auth==0.8.4
packaging==24.2
notebook==7.3.2
fake-useragent==2.2.0
gmpy2==2.2.1
pyee==13.0.0
dask-expr==2.0.0
deepconf==0.1.0
aext-share-notebook-server==4.20.0
Bottleneck==1.4.2
joblib==1.3.2
vault-pipeline==0.1.0
binaryornot==0.4.4
conda==25.5.1
transformers==4.57.6
antlr4-python3-runtime==4.9.3
chardet==5.2.0
lxml_html_clean==0.4.5
pytorch-metric-learning==2.9.0
kaggle==2.0.1
uvicorn==0.40.0
resampy==0.4.3
openunmix==1.3.0
jupyter-events==0.12.0
postgrest==1.1.1
prompt_toolkit==3.0.51
tensorboard==2.20.0
pyod==2.0.6
sphinxcontrib-devhelp==2.0.0
conda-libmamba-solver==25.4.0
typer==0.23.1
pytest-mock==3.12.0
braceexpand==0.1.7
partd==1.4.2
typing_extensions==4.15.0
aiosignal==1.4.0
babel==2.16.0
schemdraw==0.15
pycosat==0.6.6
toolz==1.0.0
numpy-rms==0.6.0
rpds-py==0.25.1
navigator-updater==0.5.1
imagesize==1.4.1
incremental==24.7.2
aext-project-filebrowser-server==4.20.0
torch_pitch_shift==1.2.5
Brotli==1.1.0
pandas==3.0.1
jupyterlab_server==2.27.3
astropy==7.0.0
scipy==1.17.1
qstylizer==0.2.2
PyQt5_sip==12.13.0
kagglesdk==0.1.18
jsonschema-specifications==2025.4.1
pexpect==4.8.0
watchdog==4.0.2
distributed==2025.2.0
pycparser==2.22
torch-audiomentations==0.12.0
yapf==0.40.2
smmap==4.0.0
astroid==3.3.8
hf-xet==1.2.0
conda_index==0.6.0
Deprecated==1.2.13
jaraco.functools==4.1.0
Jinja2==3.1.6
wheel==0.45.1
filelock==3.18.0
bcrypt==3.2.0
snowflake-cli==3.10.0
soundfile==0.13.1
dill==0.3.8
google-api-core==2.25.1
demucs==4.1.0a3
anaconda-anon-usage==0.7.0
imbalanced-learn==0.13.0
deepmultilingualpunctuation==1.0.1
pypdf==6.13.3
langchain-openai==1.1.9
msgpack==1.1.2
wandb==0.25.0
statsmodels==0.14.4
langchain==1.2.10
lilcom==1.8.2
peft==0.18.1
python-engineio==4.13.2
requirements-parser==0.13.0
imageio==2.37.0
langgraph-sdk==0.3.6
tbats==1.1.3
mypy==1.14.1
tornado==6.4.2
archspec==0.2.3
itemloaders==1.3.2
python-lsp-server==1.12.2
pip==25.1
deprecation==2.1.0
distro==1.9.0
graphviz==0.21
cryptography==45.0.5
flatbuffers==25.12.19
jiter==0.10.0
locate==1.1.1
pluggy==1.6.0
pydocstyle==6.3.0
pydantic-settings==2.13.0
pillow==10.4.0
langchain-community==0.4.1
rfc3986-validator==0.1.1
dotenv==0.9.9
tomli==2.0.1
aiohappyeyeballs==2.6.1
sphinxcontrib-applehelp==2.0.0
llvmlite==0.46.0
websockets==15.0.1
pydantic==2.13.4
lckr_jupyterlab_variableinspector==3.2.4
jaraco.context==0.0.0
jsonpointer==2.1
requests-toolbelt==1.0.0
contourpy==1.3.1
pyobjc-framework-Cocoa==10.1
numexpr==2.10.1
uv==0.7.13
audiomentations==0.43.1
Flask==3.1.0
snowballstemmer==2.2.0
argon2-cffi-bindings==21.2.0
Send2Trash==1.8.2
py-cpuinfo==9.0.0
python-Levenshtein==0.27.3
opentelemetry-exporter-otlp==1.39.1
lhotse==1.32.2
docutils==0.21.2
nicegui==3.12.1
astropy-iers-data==0.2025.1.13.0.34.51
psycopg==3.3.2
onnx==1.20.1
optuna==4.7.0
pyannote-pipeline==4.0.0
PyYAML==6.0.2
httpx==0.28.1
humanize==4.12.3
kaleido==1.2.0
rich==14.0.0
importlib_metadata==8.7.0
typer-slim==0.23.1
Scrapy==2.12.0
et-xmlfile==1.1.0
hvplot==0.11.3
backoff==2.2.1
whatthepatch==1.0.2
tensorboard-data-server==0.7.2
meilisearch==0.40.0
kaldi-python-io==1.2.2
lmdb==1.6.2
google-auth==2.40.3
news-agg==0.1.0
hpack==4.1.0
mistune==3.1.2
wsproto==1.3.2
sgmllib3k==1.0.0
safetensors==0.7.0
faster-whisper==1.2.1
jupyterlab==4.3.4
tokenizers==0.22.2
google-api-python-client==2.178.0
uvloop==0.22.1
fastapi==0.129.0
more-itertools==10.3.0
libarchive-c==5.1
sentence-transformers==5.2.2
aext-shared==4.20.0
conda-package-handling==2.4.0
orjson==3.11.7
anaconda-catalogs==0.2.0
Mako==1.2.3
jupyter_server_terminals==0.5.3
s3transfer==0.13.1
lief==0.16.4
bleach==6.2.0
numpy-minmax==0.5.0
altair==5.5.0
aext-panels-server==4.20.0
numba==0.64.0
langgraph-checkpoint-postgres==3.0.4
iniconfig==2.1.0
realtime==2.7.0
langgraph-prebuilt==1.0.7
hydra-core==1.3.2
ipykernel==6.29.5
pyannote-audio==4.0.4
HeapDict==1.0.1
typing-inspection==0.4.2
shap==0.50.0
three-merge==0.1.1
zipp==3.23.0
annotated-types==0.7.0
accelerate==1.12.0
camel-converter==5.0.0
httplib2==0.22.0
soxr==0.5.0.post1
motor==3.3.1
debugpy==1.8.11
fiddle==0.3.0
omegaconf==2.3.0
appscript==1.3.0
tifffile==2024.12.12
conda-repo-cli==1.0.165
Cython==3.2.4
alembic==1.15.2
langcodes==3.5.1
submitit==1.5.4
six==1.17.0
snowflake-connector-python==3.15.0
nv-one-logger-core==2.3.1
cytoolz==1.0.1
choreographer==1.2.1
hyperframe==6.1.0
pyloudnorm==0.2.0
proto-plus==1.26.1
sklearn-compat==0.1.3
identify==2.6.12
opentelemetry-exporter-otlp-proto-common==1.39.1
uc-micro-py==1.0.1
scikit-learn==1.8.0
QDarkStyle==3.2.3
ruamel.yaml==0.18.10
pyflakes==3.2.0
servicenow-mcp==0.1.0
wget==3.2
opentelemetry-semantic-conventions==0.60b1
scikit-plot==0.3.7
tabulate==0.9.0
numpy==2.4.2
aext-panels==4.20.0
litellm==1.73.0
notebook_shim==0.2.4
frozenlist==1.7.0
python-stretch==0.3.1
openapi-pydantic==0.5.1
isort==6.0.1
coverage==7.8.0
annotated-doc==0.0.4
pytest==9.0.2
asteroid-filterbanks==0.4.0
sentry-sdk==2.18.0
websocket-client==1.8.0
textdistance==4.6.3
MarkupSafe==3.0.2
